aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
chardet==3.0.4
click==7.1.2
# Editable install with no version control (cliweather-dicky==0.1)
-e /home/dicky/project/refactory/second-month/34.TO-python
idna==2.10
multidict==4.7.6
yarl==1.5.1
